@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    background: #03723a83;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: 0;
}

button {
    width: 40%;
    height: 40px;
    display: inline-block;
    justify-content: flex-end;
    border: solid;
    text-align: center;
    background-color: black;
    margin-top: 10px;
}

audio {
    margin-top: 10px;
    opacity: 0.7;
    align-items: end;
}

hr{
    color: black;
    width: 80%;
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}


.sonsTG{
    font-size: 50px;
    text-align: center;
}
.tg02033 {
    font-size: 25px;
    text-align: center;
}

.brasao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brasaoImg{
    width: 350px;
    height: auto;
    background-color: transparent;
}

.divRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divRowLeft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding-left: 27px;
}

.audioDiv{
    width: 30%;
    height: 280px;
    display: inline-block;
    justify-content: center;
    border: solid;
    text-align: center;
    margin: 1%;
}

.tituloBasicos,.tituloArma,.tituloPremiacao,
.tituloCancoes,.tituloMusicas, .tituloBandeira, .tituloDobrado,.tituloOutros{
    justify-content: center;
    text-align: center;
    font-size: 25px;
}


